{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIRE Django BLOG</title>
    <link rel="stylesheet" href='{%static "css/blog.css" %}'>
</head>
<body>
    <center><h1>Post bat gehitzeko ondorengo formularioa bete</h1>
    <br><br><br>

    <form action="addpost/" method="POST">
        {% csrf_token %}
        Post-aren izenburua: <input type="text" name="izenburua"><br><br>
        Post-aren edukia: <input type="text" name="edukia"><br><br>
        <button type="submit" value="Submit">Post-a sortu</button>

    </form>
</center>

</body>
</html>