{%extends 'base.html'%}
{%block content%}
    <center><h2>Alokairuak</h2></center>
    <div class="gehitubotoia">
        <center><a id="gehitubotoia" href="/">Bideojokuak ikusi</a></center>
    </div><br>
    <div class="gehitubotoia">
        <center><a id="gehitubotoia" href="/bezeroak">Bezeroak ikusi</a></center>
    </div>
    <br>
    <div class="gehitubotoia">
        <center><a id="gehitubotoia" href="/alokairuak/addalo">Alokairua sartu</a></center>
    </div>
    <br>
    <center><table style="width: 100%;">
        {%for alokairua in alokairuak%} <!-- alokairua viewsetik hartezn den aldagaia da -->
        <tr>
            <td>
                <div id="eguneratu" style="text-align: right;">
                    <a style="text-decoration: none; color: black;" href="eguneratubezform/{{bezeroa.id}}">Eguneratu</a>
                </div>
                <div>
                    <p><b>Bezeroa: </b>{{alokairua.bezeroa}}</p>
                    <p><b>Bideojokua: </b>{{alokairua.bideojokua}}</p>
                    <div id="ezabatubotoia">
                        <p><a class="ezabatu" href="ezabatubezeroa/{{bezeroa.id}}">Ezabatu</a></p>
                    </div>
                    <br>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table></center>
{%endblock content%}