{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO Bideojoku Denda</title>
    <link rel="stylesheet" href='{%static "style.css"%}'>
</head>
<body>
    <h1>proba</h1>
    <table>
        {%for bideojokua in bideojokua%} <!-- bideojokua viewsetik hartezn den aldagaia da -->
        <tr>
            <td>
                <div>
                    <p>{{bideojokua.id}}</p>
                    <p>{{bideojokua.bid_id}}</p>
                    <p><h2>{{bideojokua.bid_izena}}</h2></p>
                    <p>{{bidojokua.bid_generoa}}</p>
                    <p>{{bideojokua.bid_hizkuntza}}</p>
                    <p>{{bideojokua.bid_irteeradata}}</p>
                    <p>{{bideojokua.bid_adinminimoa}}</p>
                    <p>{{bideojokua.bid_sinopsia}}</p>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>